<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css"
    media="screen,projection" />
  <link rel="stylesheet" href="css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="internal">
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">PostIt</a>
            <a href="#" data-activates="mobile-links" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="">Home</a></li>
              <li class="active"><a href="sign-in.html">Sign in</a></li>
              <li><a href="sign-up.html">Sign up</a></li>
            </ul>

            <ul id="mobile-links" class="side-nav">
              <li><a href="">Home</a></li>
              <li class="active"><a href="sign-in.html">Sign in</a></li>
              <li><a href="sign-up.html">Sign up</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <section class="container">
    <div class="row dashboard">
      <div class="col s3 dashboard-left">
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
        <div class="row">
          <div class="col s12">Group 6</div>
        </div>
      </div>
      <div class="col s9 dashboard-right">
        <div class="row">
          <div class="col s12">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dolorum delectus facilis, esse laboriosam vero porro blanditiis
            accusamus asperiores voluptates. Libero, saepe beatae blanditiis commodi aut voluptatem molestias numquam repellat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dolorum delectus facilis, esse laboriosam vero
            porro blanditiis accusamus asperiores voluptates. Libero, saepe beatae blanditiis commodi aut voluptatem molestias
            numquam repellat.
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        &copy; 2017 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
  <script src="script.js"></script>
</body>

</html>