<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css"
    media="screen,projection" />
  <link href="https://fonts.googleapis.com/css?family=Cormorant|Work+Sans:500" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="dashboard">
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="container-fluid">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">ShoutIt</a>
            <a href="#" data-activates="mobile-links" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li class="active"><a href="">Dashboard</a></li>
              <li><a href="landing-page.html" class="white-text">Sign out</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="mobile-links" class="side-nav fixed">
      <div class="avatar">
        <a href="">
          <img src="img/avatar.jpg" class="center" alt="">
          <p>Babatunde Adeyemi</p>
        </a>
      </div>
      <ul>
        <li><a href="#create-group" class="modal-trigger"><i class="material-icons prefix white-text">add</i>Create group</a></li>
        <li><a href="landing-page.html" class="white-text"><i class="material-icons prefix white-text">power_settings_new</i>Sign out</a></li>
      </ul>

    </div>
  </header>

  <section>
    <div class="row content">
      <div class="container-fluid">
        <div class="col m4 s12">
          <a href="">
            <div class="card">
              <div class="card-image">
                <img src="img/code.png">
                <span class="card-title">Weekly announcements</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                  little markup to use effectively.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col m4 s12">
          <a href="">
            <div class="card">
              <div class="card-image">
                <img src="img/code.png">
                <span class="card-title">JavaScript tutorials</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                  little markup to use effectively.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col m4 s12">
          <a href="">
            <div class="card">
              <div class="card-image">
                <img src="img/code.png">
                <span class="card-title">Just about anything</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                  little markup to use effectively.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="container-fluid">
        <div class="col m4 s12">
          <a href="">
            <div class="card">
              <div class="card-image">
                <img src="img/code.png">
                <span class="card-title">Weekly announcements</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                  little markup to use effectively.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col m4 s12">
          <a href="">
            <div class="card">
              <div class="card-image">
                <img src="img/code.png">
                <span class="card-title">JavaScript tutorials</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                  little markup to use effectively.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col m4 s12">
          <a href="">
            <div class="card">
              <div class="card-image">
                <img src="img/code.png">
                <span class="card-title">Just about anything</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                  little markup to use effectively.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="container-fluid">
        <div class="col m4 s12">
          <a href="">
            <div class="card">
              <div class="card-image">
                <img src="img/code.png">
                <span class="card-title">Weekly announcements</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                  little markup to use effectively.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col m4 s12">
          <a href="">
            <div class="card">
              <div class="card-image">
                <img src="img/code.png">
                <span class="card-title">JavaScript tutorials</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                  little markup to use effectively.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col m4 s12">
          <a href="">
            <div class="card">
              <div class="card-image">
                <img src="img/code.png">
                <span class="card-title">Just about anything</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                  little markup to use effectively.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row content">
      <div class="container-fluid">
        <ul class="pagination center">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>
    </div>
  </section>

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container-fluid">
        &copy; 2017 ShoutIt
        <a class="grey-text text-lighten-4 right" href="#!">Contact</a>
        <a class="grey-text text-lighten-4 right" href="#!">Sign in</a>
        <a class="grey-text text-lighten-4 right" href="#!">Sign up</a>
      </div>
    </div>
  </footer>

  <!-- Create group modal -->
  <div id="create-group" class="modal">
    <div class="modal-content">
      <div class="row">
        <h4>Create group</h4>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">edit</i>
              <input id="group-name" type="text" class="validate" required>
              <label for="group-name">Group name</label>
            </div>
          </div>
          <div class="row">
            <div class="file-field input-field col s12">
              <div class="btn-large">
                <span>Banner</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Only JPG and PNG images allowed" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="description" class="materialize-textarea" max-length="100" required></textarea>
              <label for="description">Description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Continue</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
  <script src="script.js"></script>
</body>

</html>