<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css"
    media="screen,projection" />
  <link rel="stylesheet" href="css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">PostIt</a>
            <a href="#" data-activates="mobile-links" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="">Home</a></li>
              <li class="active"><a href="sign-in.html">Sign in</a></li>
              <li><a href="sign-up.html">Sign up</a></li>
            </ul>

            <ul id="mobile-links" class="side-nav">
              <li><a href="">Home</a></li>
              <li class="active"><a href="sign-in.html">Sign in</a></li>
              <li><a href="sign-up.html">Sign up</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row">
        <form class="out-form col s6 offset-s3">
          <div class="row">
            <h1>Log in</h1>
            <div class="input-field col s12">
              <input type="email" id="email" class="validate" required>
              <label for="email">Email address</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="password" id="password" class="validate" minlength="8" required>
              <label for="password">Password</label>
            </div>
          </div>

          <button class="btn-large waves-effect waves-light" type="submit" name="submit">Sign in</button>
        </form>
      </div>
    </div>
    </div>
  </section>

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        &copy; 2017 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
  <script src="script.js"></script>
</body>

</html>