$green: #03b898;
$orange: #ff672c;
$grey: #343434;
$dark-white: #fafafa;
$white: #fff;
$text: lighten($grey, 30%);

@mixin box($width, $background: inherit) {
  width: $width;
  height: $width;
  background: $background;
}

.navbar {
  background: $green;
}

.navbar a {
  color: $white !important;
}

header .navbar-default .navbar-collapse li.active  a {
  background: darken($green, 10%) !important;
}

nav .container {
  padding-left: 0;
  padding-right: 0;
}

body {
  background: $dark-white;
  color: $text;
}

.form, .groups {
  background: $white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
  border: 1px solid lighten($grey, 65%);
  border-radius: 5px;
}

.modal .modal-dialog .modal-content {
  background: $dark-white;
}

.modal .modal-dialog .modal-content .modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 40px;
}

.groups {
  border-radius: 0;
}

.groups h1 {
  margin-bottom: 5px;
}

.groups span a, .groups span a:hover {
  color: $green;
  padding-left: 0;
}

.groups span a:hover {
  color: darken($green, 10%);
}

.message {
  border-bottom: 1px solid lighten($grey, 65%);
  margin-top: 15px;
}

.dashboard {
  width: 80%;
  margin: 150px auto;
}

.dashboard .glyphicon {
  font-size: 150px;
}

.dashboard p {
  font-size: 20px;
  padding-top: 10px;
}

.dashboard a {
  text-decoration: none;
}

.btn-green {
  background: $green;
  color: $white;

  &:hover, &:active {
    background: lighten($green, 5%);
    color: $white;
  }
}

.btn-orange {
  background: $orange;
  color: $white;

  &:hover, &:active {
    background: lighten($orange, 5%);
    color: $white;
  }

}

.form-title {
  margin-bottom: 30px;
}

form .btn-block {
  margin-top: 34px;
}

.container .col-sm-4 .glyphicon-user {
  font-size: 40px;
  background: $green;
  border-radius: 50%;
  padding: 20px;
  color: $white;
  position: relative;
  left: (100% - (62));
}

a {
  color: $orange;
  &:hover {
    color: darken($orange, 10%);
  }
  &:active {
    color: $orange;
  }
}