$cyan: #00DAFF;
$pink: #FF0075;
$darkYellow: #B2A008;
$white: #fff;
$gray: #777;
$background: darken($white, 2%);
$border: lighten($gray, 40%);
$side-nav-bg: #212121;

body {
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $white;
  color: $gray;
}

.internal {
  background: #E9EBEE;
}

.container-fluid {
  width: 95%;
  margin: 0 auto;
}

.dashboard {
  display: flex;
  overflow: hidden;
  height: 100vh;
  margin-top: -100px;
  padding-top: 100px;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.dashboard-left, .dashboard-right {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  min-height: 100vh !important;
}
.dashboard-left .row, .dashboard-right .row {
  padding: 20px 0;
}

.dashboard-left {
  background: $side-nav-bg;
}

.dashboard-right {
  padding-bottom: 250px !important;
}

nav {
  background: $pink;
}

.out-form {
  box-shadow: 0 0 10px darken($background, 70%);
  margin: 80px 0;
  border-radius: 5px;
  padding: 80px 50px !important;
  background: $white;

  i {
    color: $pink;
    font-size: 100px;
    margin: 0 auto;
  }

  .btn-large {
    background: $pink;
    width: 100%;
    text-transform: none;
  }

  h1 {
    margin: 0;
    margin-bottom: 15px;
  }
}

.page-footer {
  padding-top: 0;
  background: $pink;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.message-box {
  position: fixed;
  bottom: 100px;
  width: 50% !important;
  margin: 0 auto;
}